{% extends 'index.html' %}
{% block content %}
<div class="body-content">
    <h2>Advisory Committee</h2>
    <ol>
    <h3>International</h3>
    <div class="body-content">

        <li>Dr. Najib Saylani, Florida State College at Jacksonville, USA</li>
        <li>Prof. Rajkumar Buyya, School of Computing and Information Systems, University of Melbourne, Australia</li>
        <li>Dr. Jagbir Hooda, Architect, CloudGenix, California</li>
        <li>Dr. Omar Al-Azzam, University of Minnesota Crookston, USA</li>
        <li>Dr. Xiuzhen Feng, Beijing University of Technology, China</li>
        <li>Dr. Hesham H. Ali, University of Nebraska at Omaha, USA</li>
        <li>Dr. Magdy Serour, InContext Solutions, Australia</li>
        <li>Dr. Ahmed Azam, DeVry University, USA</li>
        <li>Dr. Yannis Ioannidis, President of ACM, Professor of Informatics &amp; Telecom, University of Athens, Greece
        </li>
        <li>Dr. Subramaniam Ganesan, Professor, OaklandUniversity</li>
        <li>Dr. Athena Vakali, Professor, School of Informatics, Aristotle University of Thessaloniki, Greece</li>
        <li>Mr. Rakesh Kumar Mali, Delivery Module Lead, Mphasis Corp, USA</li>
        <li>Mr. Rajendra Asuri, Senior SAP BTP/AS2 Consultant, Covestro, Pittsburgh, USA</li>
    </div>
    </ol>
    <ol>
        
        <h3>National</h3>
        <div class="body-content">
        <li>Dr. Balakrishna I, DyDirector/Scientist, Ministry of Electronics &amp; Information Technology, Govt. of India
        </li>
        <li>Dr. Dhananjoy Dey, Scientist, DRDO, SAG, India</li>
        <li>Dr. Sanjeev Kumar Varshney, Former-Head, International Scientific Cooperation Ministry / Department of
            Science &amp; Technology, Government of India</li>
        <li>Prof. (Dr.) Brij B. Gupta, Director, International Center for AI and Cyber Security Research and Innovations
            (CCRI) &amp; Distinguished Professor, Department of Computer Science and Information Engineering (CSIE) Asia
            University, Taiwan</li>
        <li>Dr. Niladri Chatterjee, Department of Mathematics, School of IT, School of AI, IIT Delhi, INDIA</li>
        <li>Dr. Sharat Kaushik, Director (NGF Group of Colleges)</li>
        <li>Mr. Subhajit Bhattacharya, Associate Vice President, Accenture</li>
        <li>Dr. Paramita Guha, Senior Scientist, CSIR, NPL, New Delhi</li>
        <li>Dr. Zahid Raza, Professor, SC&amp;SS, Jawaharlal Nehru University, New Delhi, India</li>
        <li>Dr. Minakshi Grover, Principal Scientist at Indian Agricultural Research Institute (ICAR), Greater Delhi Area
        </li>
        <li>Dr. Rahul Katarya, Professor, Delhi Technological University, India</li>
        <li>Dr. Anurag Jain, Professor, GGSIPU, India</li>
        <li>Dr. Deo Prakash Vidyarthi, Professor, SC&amp;SS, Jawaharlal Nehru University, New Delhi, India</li>
        <li>Dr. Ela Kumar, Professor, Dept of CSE, Professor and Dean, IGDTUW, India</li>
        <li>Dr. Kamal Rawal, Head of Department &amp; Professor, Center for Computational Biology and Bioinformatics,
            Amity University, Noida</li>
        <li>Dr. Arun Sharma, Professor, IGDTUW, India</li>
        <li>Dr. Malay Bhattacharya, Associate Professor, Machine Learning Unit, Indian Statistical Institute, Bangalore,
            India</li>
        <li>Dr. Deepak Garg, Professor &amp; Chair, Bennett University, Chair, IEEE Computer Society, India Council</li>
        <li>Dr. Durgesh Kumar Mishra, Professor and Director, Sri Aurobindo Institute of Technology, MP, India</li>
        <li>Dr. Rajesh Rohilla, Professor, Delhi Technological University, India</li>
        <li>Dr. Rajinder Chitoria, Data Scientist and Director at Froyo Technologies (P) Ltd</li>
        <li>Mr. Aakash Goel, Senior Data Scientist, Microsoft India (R&amp;D) Pvt. Ltd</li>
    </div>
    </ol>
</div>


{% endblock %}
