{% extends 'index.html' %}
{% block content %}
<div class="body-content">
    <h1>CALL FOR PAPER</h1>
    <h2>Multidisciplinary Research and Innovations in Engineering – 2026</h2>

    <p>MRIE-2026 invites submissions for its diverse range of tracks aimed at exploring cutting-edge research and
        innovations in various fields of technology and engineering. Researchers, practitioners, and academicians are
        encouraged to contribute their original work to foster interdisciplinary discussions and advancements in the
        following tracks:</p>

    <ul>
        <li>Track 1: Advanced Computing Technologies</li>
        <li>Track 2: Cybersecurity and Human Interaction</li>
        <li>Track 3: Emerging Communication Networks & Security</li>
        <li>Track 4: Power, Signals, Integrated Systems and Future Technologies</li>
        <li>Track 5: Materials Science and Engineering</li>
    </ul>

    <p>Papers from other topics relevant to the conference theme or the special sessions are also welcome.</p>

    <p>Authors are encouraged to submit original, unpublished papers via the conference submission system. All
        submissions will undergo a thorough peer-review process. Accepted and presented papers will be considered for possible publication in IEEE Xplore.</p>

    <p>Join us at MRIE 2026 to engage in insightful discussions, exchange ideas, and foster collaborations across
        diverse domains of engineering research and innovation.</p>

    <p>Organizing Chair<br>
        MRIE-2026<br>
        <a href="mailto:mrie2026@krmangalam.edu.in">mrie2026@krmangalam.edu.in</a>
    </p>

</div>

{% endblock %}
