{% extends 'index.html' %}
{% block content %}
<div class="body-content">
    <h1>University Address</h1>
    k.R. Mangalam University,
    Sohna Road, Gurugram, Haryana 122103
    <h1>Email Address</h1>
    <b>For any queries, please drop mail at:</b><br>
    <a href="mailto:mrie2026@krmangalam.edu.in">mrie2026@krmangalam.edu.in</a>
    <br>
    <h1>Contact Person</h1>
    <ol>
    <b>Dr. Shweta Bansal,</b> <br> Professor, <br>School of
        Engineering & Technology, <br>K.R.Mangalam University, Sohna Road,
        Gurugram, India, <br> Email: <a href="mailto:shweta.bansal@krmangalam.edu.in">shweta.bansal@krmangalam.edu.in</a>, <br> Mob:
        9354709157<br>
   <!-- <li><b>Dr. Owais Ahmad Shah,</b> <br> Assistant Professor, <br> School of Engineering &
        Technology, <br> K.R.Mangalam University, Sohna Road, Gurugram, India, <br>
        Email: <a href="mailto:owais.ahmadshah@krmangalam.edu.in">owais.ahmadshah@krmangalam.edu.in</a>, <br>Mob: 9911836669<br><br></li> -->
    </ol>
    <!-- <b>For any queries, please drop mail at:</b><br> -->
    <br><br>
    <!-- <b>Venue: Conference Room, K.R Mangalam University,</b><br> Sohna Road, Gurugram, Haryana 122103 Sohna Rural,
    Haryana -->
</div>

{% endblock %}

