{% extends 'index.html' %}
{% block content %}
<div class="body-content">
    <ol>
        <h2>Oversight Committee</h2>
  Coming Soon
        <!--     <div class="body-content">
            <li> Prof. Sneha Kabra (Lead Member Coordinator for MRIE-2026 and Section Secretary, Interim Section Treasurer & Member-IEEE Delhi Section STDCOM on T & P Act) </li> 
            <li> Prof. Rajnish Sharma (Section Vice Chair & Member-IEEE Delhi Section STDCOM on T & P Act)</li> 
            <li> Prof. Vivek Shrivastava (Section Exec Com Member Co-opted & Member-IEEE Delhi Section STDCOM on T & P Act)</li>
            <li> Dr. Ekta Gandotra (Member-IEEE Delhi Section STDCOM on T & P Act)</li> -->
        
      <!--      <li>Prof. Vivek Shrivastava (Lead Member Coordinator for MRIE-2025 and PES-IAS Chapter Past-Secretary & Member-IEEE Delhi Section STDCOM on T & P Act)</li>
            <li>Prof. Rajnish Sharma (Section Vice Chair & Member-IEEE Delhi Section STDCOM on T & P Act)</li>
            <li>Dr. Ekta Gandotra (Member-IEEE Delhi Section STDCOM on T & P Act)</li>
            <li>Prof. Sneha Kabra (Section Secretary & Member-IEEE Delhi Section STDCOM on T & P Act)</li>
         -->   
        </div>   
    </ol>
</div>

{% endblock %}
