{% extends 'index.html' %}
{% block content %}
<div class="body-content">
    <h1>Important Dates</h1>
    <table>
        <tr>
          <th>Category</th>
          <th>Date</th>
        </tr>
        <tr>
          <td>Full Paper Submission</td>
            <td>05th April 2027 </td> 
     <!--    <td><strike>05th June 2026</strike> 15th June 2026 </td> -->
            <!-- <td><strike>05th June 2026</strike> 15th June 2026 (Submission Closed) </td>   -->
        </tr>
        <tr>
          <td>Notification of Acceptance</td>
          <td>05th June 2027</td>
        </tr>
        <tr>
          <td>Registration Deadline</td>
          <td>15th June 2027</td>
        </tr>
        <tr>
          <td>Camera Ready Paper Submission</td>
          <td>25th June 2027</td>
        </tr>
        <tr>
          <td>Conference Dates</td>
          <td>29-31st July 2027</td>
        </tr>
      </table>

</div>
{% endblock %}
