{% extends 'index.html' %}
{% block content %}
<div class="body-content">
    Will be updated soon
 <!-- 
    <div class="card-align">
        <div class="card">
            <img src="static/images/2026pic1.jpeg" alt="Avatar" style="width:100%">
            <div class="containe">
                <h4><b>Prof. (Dr.) Kathrin Kind</b></h4>
                <p>Top Chief AI Scientist 2025 
The voice of Ethical AI 2025 WEF GFC Member, Global keynote speaker, moderator, editor, lecturer,Hon. Ambassador JDI, CIO, QU11L- Inventor, Founder
                </p>
            </div>
        </div>
        <div class="card">
            <img src="static/images/2026pic2.png" alt="Avatar" style="width:100%">
            <div class="containe">
                <h4><b>Dr. Usha Jagannathan</b></h4>
                <p>Al Product & Innovation Leader | McKinsey Alum | Scaling Secure & Trustworthy Al Innovation | Global Al Speaker | Advancing Al Talent & Careers
                </p>
            </div>
        </div>
    
            <div class="card">
            <img src="static/images/2026pic3.png" alt="Avatar" style="width:100%">
            <div class="containe">
                <h4><b>Prof. (Dr.) Amita Dev
                </b></h4>
                <p>Director General VSET & VSIT, 
                    Vivekananda Institute of Professional Studies
                </p>
                </div>
            </div>
        </div>
             <div class="card-align">
            <div class="card">
            <img src="static/images/2026pic4.png" alt="Avatar" style="width:100%">
            <div class="containe">
                <h4><b>Prof.(Dr.) Phool Singh</b></h4>
                <p>Professor, Department of Applied Sciences and Humanities, 
                    Central University of Haryana
                </p>
            </div>
        </div>
    

        
            <div class="card">
            <img src="static/images/2026pic5.png" alt="Avatar" style="width:100%">
            <div class="containe">
                <h4><b>Prof.(Dr.) Kavita Khanna</b></h4>
                <p>Professor, Department of Computer Science and Engineering,
South Asian University, New Delhi
                </p>
            </div>
        </div>

        <div class="card">
            <img src="static/images/2026pic6.png" alt="Avatar" style="width:100%">
            <div class="containe">
                <h4><b>Nishtha Madaan</b></h4>
                <p>Staff Research Scientist at IBM Research, India
                </p>
            </div>
            </div>
        </div>

     <div class="card-align">
    <div class="card">
            <img src="static/images/2026pic7.png" alt="Avatar" style="width:100%">
            <div class="containe">
                <h4><b>Prof.(Dr.) Deepa Sinha</b></h4>
                <p>Professor & Chairperson, Department of Mathematics,
South Asian University, New Delhi
                </p>
            </div>
        </div>

         <div class="card">
            <img src="static/images/2026pic8.jpg" alt="Avatar" style="width:100%">
            <div class="containe">
                <h4><b>Mr. Nagapoturaju Pitchuka </b></h4>
                <p>Technical Program Manager, Independent Researchers, Mckinney Texas, United States
                </p>
            </div>
            </div> 

             <div class="card">
            <img src="static/images/sumendra.jpg" alt="Avatar" style="width:100%">
            <div class="containe">
                <h4><b>Dr. Sumendra Yogarayan </b></h4>
                <p>Deputy Dean, Faculty of Information Science & Technology, Multimedia University, Malaysia
                </p>
            </div>
            </div>
      </div>
     -->

    
<!--        
        <div class="card">
            <img src="static/images/pic4.png" alt="Avatar" style="width:100%">
            <div class="containe">
                <h4><b>Dr. Sanjeev K Varshney</b></h4>
                <p>Adviser &amp; Head International
                    Cooperation at Department of
                    Science &amp; Technology, Government
                    of India,</p>
            </div>
        </div>
    </div>
    <div class="card-align">
        <div class="card">
            <img src="static/images/pic5.png" alt="Avatar" style="width:100%">
            <div class="containe">
                <h4><b>Prof. P.S Grover</b></h4>
                <p>Ex Director-Computer Science &amp;
                    Engineering – Delhi University</p>
            </div>
        </div>
        <div class="card">
            <img src="static/images/pic6.png" alt="Avatar" style="width:100%">
            <div class="containe">
                <h4><b>Prof.(Dr.)Anirban
                        Mukhopadhyay</b></h4>
                <p>Professor, University of Kalyani,
                    West Bengal</p>
            </div>
        </div>
    </div>
    <div class="card-align">
        <div class="card">
            <img src="static/images/pic7.png" alt="Avatar" style="width:100%">
            <div class="containe">
                <h4><b>Dr. Niladri Chatterjee</b></h4>
                <p>Prof. (HAG) Department of
                    Mathematics, School of AI, IIT Delhi,
                    India</p>
            </div>
        </div>
        <div class="card">
            <img src="static/images/pic8.png" alt="Avatar" style="width:100%">
            <div class="containe">
                <h4><b>Dr. B. Chandra</b></h4>
                <p>Adjunct Professor, Indian Institute of
                    Technology, Delhi</p>
            </div>
        </div>
        -->
    </div>
</div>
{% endblock %}
