{% extends 'index.html' %}
{% block content %}
<div class="body-content">
    <ul>
        <h2>Organizing Committee</h2>
        <div class="body-content">
            <h3>Chief Patron</h3>
            <div class="body-content">
                <li>Prof (Dr.) Dinesh Singh, Chancellor, K R Mangalam University, India</li>
            </div>
            <h3>Patron</h3>
            <div class="body-content">
                <li>Prof. (Dr.) Anil Kumar Saini, Vice-Chancellor, K R Mangalam University, India</li>
            </div>
            <h3>General Chair</h3>
            <div class="body-content">
                <li>Dr. Pankaj Agarwal, K R Mangalam University, Gurugram</li>
            </div>
            <h3>Conference Chair</h3>
            <div class="body-content">
                <li>Dr. Shweta Bansal, K R Mangalam University, India</li>
                <li>Dr. Owais Ahmad Shah, Dayananda Sagar University, India</li>
            </div>
            <h3>Conference Co-chair</h3>
            <div class="body-content">
                <li>Dr. Surabhi Shanker, K R Mangalam University, India</li>
                <li>Dr. Anshu, K R Mangalam University, India</li>
            </div>
            <h3>Publication Chair</h3>
            <div class="body-content">
                <li>Dr. Satvik Vats, Madan Mohan Malaviya University, U.P, India </li>
                <li>Dr. Meenu, K R Mangalam University, India</li>
                <li>Dr. Swati Gupta, K R Mangalam University, India</li>
            </div>
            <h3>Publication Committee</h3>
            <div class="body-content">
                <li>Prof. Vivek Jaglan, City Institute of Higher Learning, Canada </li>
                <li>Dr. Zaiba Ishrat, Meerut Institute of Technology, India</li>
                <li>Dr. Arjit Tomar, Noida International University, India</li>
                <li>Dr. Suman, K R Mangalam University, India</li>
                <li>Dr. Risihika Mehta, K R Mangalam University, India</li>
                <li>Dr. Radhika Gupta, K R Mangalam University</li>
                <li>Mr. Vishwanil Suman K R Mangalam University, India</li>
            </div>
            <h3>Finance Chair</h3>
            <div class="body-content">
                <li>Mr. Anil Chamoli, Finance Officer, K R Mangalam University, India</li>
                <li>Dr. Rupesh Kumar, K R Mangalam University, India</li>
            </div>
            <h3>Finance Committee</h3>
            <div class="body-content">
                <li>Prof. Surjeet Dalal, Amity School of Engineering and Technology (ASET), Amity University, India</li>
                <li>Prof. Nadeem Pasha, Dayananda Sagar University, India</li>
                <li>Dr. Sanehlata, K R Mangalam University, India </li>
                <li>Ms. Lucky, K R Mangalam University, India</li>
            </div>
            <h3>Publicity Committee</h3>
            <div class="body-content">
                <li>Prof. Mohammed Mujammil Ahmed, Ghousia College of Engineering, India</li>
                <li>Dr. Ravikumar H.C, D S Academy of Technology & Management, India</li>
                <li>Dr. Yogita Raghav, K R Mangalam University, India</li>
                <li>Ms. Neetu Chauhan, K R Mangalam University, India</li>
                <li>Ms. Jyoti Kaurav, K R Mangalam University, India</li>
            </div>
            <h3>Hospitality Committee</h3>
            <div class="body-content">
                <li>Dr. Vandna Arora, K R Mangalam University, India</li>
                <li>Dr. Imran Siraj, K R Mangalam University, India</li>
                <li>Dr. Manish Gupta, K R Mangalam University, India</li>
                <li>Ms. Megha Sharma, K R Mangalam University, India</li>
                <li>Ms. Ruchika Bhakar, K R Mangalam University, India</li>
                
            </div>
            <h3>Session Management Committee</h3>
            <div class="body-content">
                <li>Dr. Swati, K R Mangalam University, India</li>
                <li>Dr. Meenu, K R Mangalam University, India</li>
                <li>Dr. Aman Jatain, K R Mangalam University, India</li>
                <li>Dr. Rakhi Dua, K R Mangalam University, India</li>
                <li>Dr. Monika Khatkar, K R Mangalam University, India</li>
            </div>
            <h3>Registration Committee</h3>
            <div class="body-content">
                <li>Dr. Preeti Rathi, K R Mangalam University, India</li>
                <li>Ms. Ritu Devi, K R Mangalam University,India</li>
                <li>Ms. Swati Jain, K R Mangalam University, India</li>
                <li>Ms. Jyoti Yadav, K R Mangalam University, India</li>
                
            </div>
    </ul>
</div>

{% endblock %}
