{% extends 'index.html' %}
{% block content %}
<div class="body-content">
    <h1>Paper Submission Guidelines</h1>
    <h2>Important Points for Manuscript Preparation:</h2>
    <ul>
      <li>All submissions must be original works that have not been previously published or are currently under review elsewhere.</li>
      <li>Use either British or American English consistently throughout the manuscript.</li>
      <li>Designate a Corresponding Author for all future communication with the conference.</li>
      <li>Limit the number of authors to six (6) per manuscript.</li>
      <li>Proofread your manuscript for typographical and grammatical errors. Non-native English speakers should have a native speaker review their paper.</li>
    </ul>
    
    <h2>Paper Formatting:</h2>
    <ul>
      <li>Papers should be formatted according to the IEEE conference template, which is available <a href="https://www.ieee.org/conferences/publishing/templates.html" target="_blank">here</a> </li>
      <li>The maximum length of the paper is six (6) pages, including figures, tables, and references.</li>
      <li>Figures/graphs/plots must be of high resolution (600 dpi) and tables should not be in pictorial format.</li>
    </ul>
    
    <h2>Submission Procedure:</h2>
    <p>Authors should submit their papers electronically through the CMT portal given below. Make sure to include all authors' names, affiliations, and email addresses in the submission. Initial submissions should be in PDF format.</p>
    <div id="submitbuttondiv">
    <button type="button" id="submitbutton" onclick="window.location.href='https://cmt3.research.microsoft.com/MRIE2027'">SUBMIT PAPER</button>
    </div>

    
    <h2>Review Process:</h2>
    <ul>
      <li>The review process will follow rigorous standards set by IEEE, ensuring high-quality submissions. The criteria include Originality, Technical Quality, Clarity and Structure, and Relevance.</li>
      <li>Authors will be required to adhere to specific formatting, citation, and ethical standards as outlined by IEEE.</li>
      <li>The program committee will perform an initial review to ensure the submission fits within the scope of the publication and meets basic formatting requirements. Papers that fail to meet these criteria will be returned to the authors for revisions or may be rejected for further processing.</li>
      <li>Each paper that passes the initial check will be reviewed by 3 reviewers who are experts in the specific fields.</li>
      <li>Each reviewer will assess the paper based on Novelty and Contribution, Technical Rigor, Clarity and Presentation, and References and Citations. The feedback provided may include comments on strengths and weaknesses, suggestions for improvements, and an overall recommendation (e.g., accept, revise, or reject).</li>
      <li>The review committee will collate the reviews to get a comprehensive understanding of the paper’s quality and areas needing improvement. A decision based on reviewers' feedback will be made to accept, revise, or reject the paper.</li>
      <li>For revisions, authors will be asked to make necessary changes and resubmit. The paper may undergo a final review to ensure that the revisions adequately address reviewers' concerns. Once the paper meets all the requirements, it will be accepted for presentation.</li>
    </ul>

    
    <h2>Notification of Acceptance or Rejection:</h2>
    <ul>
      <li>Corresponding author will receive notification of acceptance, revision, or rejection via email.</li>
      <li>Accepted papers may require revisions based on reviewer recommendations.</li>
      <li>Rejected papers will not be considered for the conference.</li>
    </ul>
    
    <h2>Ethics and Conference Policy:</h2>
    <ul>
      <li>Authors are expected to adhere to the highest standards of academic integrity and ethics in their research and writing.</li>
      <li>Plagiarism, image manipulation, fabrication, and falsification of data are unacceptable and will result in the rejection of the manuscript.</li>
      <li>Authors must comply with all conference policies and guidelines regarding submission, presentation, and participation.</li>
      <li>Proper citation is required for reused text, ideas, or structures from other sources.</li>
      <li>Authors are responsible for obtaining necessary permissions for third-party content.</li>
    </ul>
    
    <h2>Plagiarism:</h2>
    <ul>
      <li>Plagiarism in any form, including self-plagiarism, is strictly prohibited.</li>
      <li>Authors are responsible for ensuring that their work is original and properly cited.</li>
      <li>The permissible level for conference papers is capped at 12%, with a 0% AI-Score.</li>
      <li>For detailed information on IEEE's plagiarism policy for conference papers, please visit: <a href="https://conferences.ieeeauthorcenter.ieee.org/author-ethics/guidelines-and-policies/submission-policies/" target="_blank">IEEE Author Center - Submission Policies</a>.</li>
    </ul>
    
    <h2>Copyright:</h2>
    <ul>
      <li>Upon acceptance of a paper, authors will be required to transfer copyright to IEEE.</li>
      <li>Authors must obtain any necessary permission for copyrighted material used in their papers.</li>
    </ul>
    
    <h2>Presentation Requirement:</h2>
    <p>At least one author of each accepted paper must register for the conference and present the paper in person or virtually, as required by the conference organizers.</p>
    
    <h2>No Show Policy:</h2>
    <p>As per the conference's no-show policy, it is imperative that authors present their papers during the designated session. Failure to do so will result in forfeiture of any registration fees, and the paper will not be included in the conference proceedings uploaded to IEEE Xplore.</p>
    
    <p>These guidelines are designed to ensure the quality and integrity of the conference proceedings. Authors should carefully follow these instructions when preparing their submissions.</p>
    
    <h2>Disclaimer:</h2>
    <p>The <a href="https://cmt3.research.microsoft.com">Microsoft CMT service</a>  was used for managing the peer-reviewing process for this conference. This service was provided for free by Microsoft and they bore all expenses, including costs for Azure cloud services as well as for software development and support.</p>
 

</div>
{% endblock %}
