{% extends 'index.html' %}
{% block content %}
<div class="special-session">
    <strong><h2>Special Session</h2></strong>
    <p>coming soon...</p>
    <!-- <strong><h3>Guidelines for Special Session Organizers:</h3></strong>

    <p>Contribution of 10 research papers is mandatory.Submission of the Special Session proposals should match the theme of the conference, It is the responsibility of the organizers to review their Special Session papers and ensure that these meet quality
        standards. Prospective organizers of Special Sessions should submit proposals in the following format by Feb 20, 2024 at iscs2024@ncuindia.edu</p>
    <br>

    <ul>
        <li>Title of the special season:</li>
        <li>Rationale of the need and objective of the session (Approx. 250 words):</li>
        <li>Special session organizer(s), affiliation, e-mail ID and phone number:</li>
        <li>Short biography of the proposed session chair (s) - Maximum 200 words:</li>
    </ul>
    <br>
    <ul>List of suggested reviewers (minimum 5 reviewers) in the area with affiliation and email ID:</ul> -->
</div>
{% endblock %}