{% extends 'index.html' %}
{% block content %}
<div class="body-content">
    <ol>
        <h2>Steering Committee</h2>
        <div class="body-content">
            <li>Dr. Tirtha Pratim Das, Director of the Space Science Programme at Indian Space Research Organization,
                Bengaluru, Karnataka, India</li>
            <li>Dr. Parag Singla, Head Joint Faculty, Khosla School Of IT, Department Of Computer Science And Engineering,
                IIT Delhi, Hauz Khas, New Delhi</li>
            <li>Dr. MN HODA, Director, Bharati Vidyapeeth&#39;s Institute of Computer Applications and Management (BVICAM),
                New Delhi, India</li>
            <li>Dr. Naveen Kumar, Professor &amp; Dean, Department of CSE, Delhi University</li>
            <li>Dr Minakshi Kumari, Assistant Professor, IIT Delhi</li>
            <li>Dr. Dhirendra Kumar, Delhi Technological University, Rohini, Delhi, India</li>
            <li>Dr. R. Rama Kishor, Professor, GGSIPU, New Delhi</li>
            <li>Dr. Bharat Bhushan, Sharda University, India</li>
        </div>
    </ol>
</div>

{% endblock %}