{% extends 'index.html' %}
{% block content %}
<div class="body-content">
    <ol>
        <h2>Technical Committee</h2>

        <h3>Technical Program Chair</h3>
        <div class="body-content">

            <li>Prof. (Dr.) B. Chandra, Adjunct Professor, IT School, IIT Delhi</li>
            <li>Dr. Mahtab Alam, Prof. &amp; Dean Academics, Mewar International University, Nigeria</li>
            <li>Dr. Alok Kushwaha, Prof. &amp; Researcher, University of Adelaide, Australia</li>
            <li>Dr Surender Kumar Yadav, K R Mangalam University, India</li>
            <li>Dr. Kaushal Kumar, K R Mangalam University, India</li>
        </div>
    </ol>
    <ol>
        <h3>Technical Program Committee</h3>
        <div class="body-content">
            <li>Prof. Bjoern Schuller, Imperial College London</li>
            <li>Prof. Subramaniam Ganesan, Oakland University, USA</li>
            <li>Dr. Samiya Khan, University of Greenwich, United Kingdom</li>
            <li>Dr. Omid Mahdi Ebadati, Kharazmi University, South Mofatteh Ave., Tehran</li>
            <li>Dr Shweta Sinha, Associate Professor, Amity University, Manesar</li>
            <li>Dr Saloni Bhushan, Assistant Professor, V K Krishnan Menon College, Mumbai</li>
            <li>Dr Anurag Jain, Professor, GGSIPU, Delhi</li>
            <li>Dr Shobha Bhatt, Associate Professor, GGSIPU, New Delhi</li>
            <li>Dr Neeraj Gupta, Professor, PIET, Panipat</li>
            <li>Dr Amit Chaudhary, Assistant Professor, GGSIPU, Delhi</li>
            <li>Dr Amit Prakash, Professor, GGSIPU, Delhi</li>
            <li>Dr António Trigo, Polytechnic of Coimbra, Coimbra Business School, Portugal</li>
            <li>Dr Wahiba Ben Abdessalem Karaa, High Institute of Management of Tunis, Tunisia</li>
            <li>Dr Wided Oueslati, Ecole Supérieure de Commerce de Tunis, BESTMOD Laboratory, Tunisia</li>
            <li>Dr Bartłomiej Terebiński, War Studies University, Poland</li>
            <li>Dr Livia Diana Iancu, Bucharest University of Economic Studies, Romania</li>
            <li>Dr Camelia Delcea, Bucharest University of Economic Studies, Romania</li>
            <li>Dr Geerish Suddul, University of Technology, Mauritius (UTM), Mauritius</li>
            <li>Dr Syeda Azwa Asif, NED University of Engineering &amp; Technology, Pakistan</li>
            <li>Dr Joanna Wiśniewska, Military University of Technology, Poland</li>
            <li>Dr Marek Sawerwain, University of Zielona Góra, Poland</li>
            <li>Dr Mohammed Moreb, Smart University College for Modern Education, Palestine</li>
            <li>Dr Ionel-Bujorel Păvăloiu, National University of Science and Technology POLITEHNICA Bucharest, Romania
            </li>
            <li>Dr Fábio Longo de Moura, Instituto Federal Catarinense, Brazil</li>
            <li>Dr Cristian Bucur, Petroleum-Gas University of Ploieşti, Romania</li>
            <li>Dr Jarosław Pawłowski, Nicolaus Copernicus University in Toruń, Poland</li>
            <li>Dr Leonilde Reis, Politécnico Setúbal, Portugal</li>
        </div>
    </ol>

</div>

{% endblock %}
