{% extends 'index.html' %}
{% block content %}
<div class="body-content">
    <h2>Track 1: Advanced Computing Technologies</h2>
    <ul>
        <li>Artificial intelligence and machine learning</li>
        <li>Computer vision and pattern recognition</li>
        <li>Data science and big data analytics</li>
        <li>Cloud computing and distributed systems</li>
        <li>Software engineering and programming languages</li>
        <li>Quantum Computing</li>
    </ul>

    <h2>Track 2: Cybersecurity and Human Interaction</h2>
    <ul>
        <li>Cybersecurity and network engineering</li>
        <li>Human-computer interaction</li>
        <li>Forensic Analysis of Cyber Crimes</li>
        <li>Secure Design and Engineering Practices</li>
        <li>Database Security and Access Control</li>
    </ul>

    <h2>Track 3: Emerging Communication Networks & Security</h2>
    <ul>
        <li>Digital Signature Techniques for Network Security</li>
        <li>Next-generation Communication Protocols</li>
        <li>Satellite Communication Systems</li>
        <li>Modelling & Simulation of Communication Networks</li>
        <li>Secure Routing and Network Management</li>
        <li>Privacy in Pervasive Computing & RFID Networks</li>
        <li>Security in Emerging Technologies like VoIP & Social Networks</li>
    </ul>

    <h2>Track 4: Power, Signals, Integrated Systems and Future Technologies</h2>
    <ul>
        <li>Power systems and renewable energy</li>
        <li>Signal processing and communication</li>
        <li>Control systems</li>
        <li>Electronics and integrated circuits</li>
        <li>Power electronics and drives</li>
        <li>Photonics and optoelectronics</li>
        <li>Embedded systems and IoT</li>
    </ul>

    <h2>Track 5: Materials Science and Engineering</h2>
    <ul>
        <li>Nanomaterials and nanotechnology</li>
        <li>Structural and functional materials</li>
        <li>Electronic, magnetic, and optical materials</li>
        <li>Biomaterials and biocompatible materials</li>
        <li>Thin films and coatings</li>
        <li>Composite materials</li>
        <li>Sustainable and renewable materials</li>
    </ul>
</div>
{% endblock %}